@import url(https://fonts.googleapis.com/css?family=Muli);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

header{
    width: 100%;
    background: #16a085;
    height: 130px;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

footer{
    margin-top: 20px;
    background: #16a085;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
}

header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: white;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    text-align: center;
}

section{
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

section article{
    font-size: 0.9rem;
    height: 340px;
    width: 32.33%;
    margin: 0.5%;
    border: 2px dashed #16a085;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

section article img{
    height: 180px;
    max-width: 80%;
    margin: 5px auto;
    display: block;
}

footer div{
    padding-top: 1rem;
}

section article:nth-child(2){
    background-color: rgba(70, 130, 180, 0.9);
    position: static;
    left: 100px;
    top: 50px;
    display: none;
} 