@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(236, 236, 236);
}

header {
    width: 100%;
    height: 73vw;
    padding: 1.5% 5% 0px 5%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

header h1 {
    font-size: 8vw;
    border-bottom: 1vw solid white;
}

header div {
    display: flex;
    background-color: white;
    margin: 5% 0;
    padding: 2.5%;
}

#foto {
    width: 10vw;
    height: auto;
    margin-right: 5%;
}

header div h3 {
    color: black;
    font-size: 1.5vw;
    font-weight: 400;
}

#vacio {
    border-bottom: 1vw solid white;
    padding: 0;
    margin: 0;
}

#web {
    width: 30vw;
    height: auto;
    margin-left: 5%;
}

#guias {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#guias div {
    width: 47%;
    text-align: center;
    padding-bottom: 3%;
}

#guias div h3 {
    font-size: 5vw;
    display: inline-block;
    padding: 0.5% 15%;
    border: 1vw solid black;
    border-radius: 10vw;
}

#guias div p {
    font-size: 1.7vw;
    padding: 10% 10% 0;
}

#guias div ul {
    font-size: 1.7vw;
    padding: 10%;
    list-style: none;
    line-height: 2;
}

#guias div ul a {
    text-decoration: none;
    color: black;
}

#guias div ul a:hover {
    font-weight: bolder;
}

#guias div:nth-child(2n) {
    border-left: 0.5vw solid black;
}

#guias div:nth-child(2n+1) {
    border-right: 0.5vw solid black;
}

#foda {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}

#foda h3 {
    font-size: 5vw;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

#foda div {
    color: white;
    width: 35%;
    padding: 5%;
    font-size: 1.7vw;
}

#foda div:nth-of-type(1) {
    border-right: 0.5vw solid white;
    border-bottom: 0.5vw solid white;
}

#foda div:nth-of-type(2) {
    border-left: 0.5vw solid white;
    border-bottom: 0.5vw solid white;
}

#foda div:nth-of-type(3) {
    border-top: 0.5vw solid white;
    border-right: 0.5vw solid white;
}

#foda div:nth-of-type(4) {
    border-top: 0.5vw solid white;
    border-left: 0.5vw solid white;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    header {
        height: auto;
        padding: 5%;
    }

    header h1 {
        font-size: 8vw;
        border-bottom: 1vw solid white;
    }

    header div {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    #foto {
        width: 15vw;
        margin: 0 0 3% 0;
    }

    header div h3 {
        font-size: 2.5vw;
    }

    #web {
        width: 50vw;
        margin: 5% 0 0 0;
    }

    #guias {
        padding: 5%;
    }

    #guias div {
        width: 90%;
        margin-bottom: 3%;
    }

    #guias div:nth-child(2n+1),
    #guias div:nth-child(2n) {
        border: none;
    }

    #guias div h3 {
        font-size: 6vw;
        border: 1vw solid black;
    }

    #guias div p {
        padding: 5%;
    }

    #guias div ul {
        padding: 0 5% 5%;
    }

    #guias div p,
    #guias div ul {
        font-size: 2.3vw;
    }

    #foda {
        flex-wrap: wrap;
        justify-content: center;
    }

    #foda div {
        width: 80%;
        text-align: center;
        font-size: 2.5vw;
        padding-bottom: 4%;
    }

    #foda div:nth-of-type(1) {
        border-right: 0.5vw solid white;
        border-bottom: 0.5vw solid white;
    }

    #foda div:nth-of-type(2) {
        border-left: 0.5vw solid white;
        border-bottom: 0.5vw solid white;
    }

    #foda div:nth-of-type(3) {
        border-top: none;
        border-right: 0.5vw solid white;
    }

    #foda div:nth-of-type(4) {
        border-top: 0.5vw solid white;
        border-left: 0.5vw solid white;
    }

}

@media screen and (max-width: 480px) {

    header {
        height: auto;
        padding: 8%;
    }

    header h1 {
        font-size: 10vw;
        text-align: center;
        padding-bottom: 2%;
    }

    header div {
        flex-direction: column;
        text-align: center;
        margin: 10% 0;
        background-color: transparent;
        color: white;
    }

    #foto,
    #web {
        display: none;
    }

    header div h3 {
        font-size: 4vw;
        color: white;
    }

    #guias {
        flex-direction: column;
        padding: 8%;
    }

    #guias div {
        width: 90%;
        margin-bottom: 12%;
        padding: 5%;
    }

    #guias div:nth-child(n) {
        border-radius: 5vw;
        border: 1vw solid black;
    }

    #guias div h3 {
        font-size: 8vw;
        border: none;
        color: black;
    }

    #guias div p,
    #guias div ul {
        font-size: 3.8vw;
        color: black;
    }

    #foda {
        flex-direction: column;
        padding: 10%;
        background-color: black;
        justify-content: center;
    }

    #foda h3 {
        font-size: 8vw;
        border: none;
    }

    #foda div {
        width: 90%;
        border: none;
        font-size: 3.8vw;
        text-align: center;
        color: white;
        margin-bottom: 8%;
    }

    #foda div:nth-of-type(n){
        border: none;
    }

    #foda div:nth-of-type(n){
        border-top: 1vw solid white;
    }
}