* {
    margin: 0;
    padding: 0;
}

#logo-serie {
    display: block;
    margin: 30px auto;
    width: 800px;
    height: auto;
}

body{
    background-color: #590004;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: #f3f3f3;
}

header {
    text-align: center;
    background-color: #f3f3f3;
    width: 100%;
    padding: 20px 0;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

dl {
  margin: 1rem 0;
  padding-left: 1.5rem; 
}

dt {
  font-weight: bold;
  margin-top: 0.5rem;
  display: list-item;     
  list-style-type: disc;
}

dd {
  margin-left: 1.5rem;      
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  color: #250001;
}

th {
  background-color: #8B0000;
  color: white;
  font-weight: bold;
}

footer{
    height: 50px;
    background-color: #fcba04;
    text-align: center;
    padding-top: 10px;
}

footer a{
    color: #250001;
}

.informacion{
    width: 75%;
    margin: 20px auto;
    padding: 30px;
    background-color: #a50104;
    line-height: 1.6;
    text-align: justify;
}

.menu a{
    text-decoration: none;
    font-weight: bold;
    color: #250001;
}

.imagen{
    width: 80%;
    height: auto;
    display: block;
    margin: 30px auto;
}