html {
    font-size: 20px;
}

body {
    color: #fcfcfc;
    background-color: #355664;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem; /*40px*/
}

h2 {
    font-size: 1.2rem; /*24px*/
}

h3 {
    font-size: 1rem; /*20px*/
}

footer {
    background-color: black;
    color: white;
    font-size: 0.7rem; /*14px*/
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

div.wrapper {
    margin: 0 auto;
    width: 80%;
}

section article {
    background-color: rgba(33, 62, 74, 1);
    margin-top: 20px;
    padding: 12px;
}

section article p {
    font-size: 0.8rem; /*16px*/
    text-align: justify;
}

section article p:first-letter{
    font-size: 1.5rem;
    color: gold;
}

section article p:first-child, section article p::first-line{
    text-decoration: underline;
} 

nav span a {
    background-color: white;
    border-right: 1px solid;
    color: black;
    font-size: 0.6rem; /*12px*/
    float: left;
    padding: 10px;
    text-decoration: none;
}

nav span a:hover {
    background-color: #b2dfdb;
}

nav span a[href="http://www.sensacine.com/peliculas/pelicula-175305/reparto"]{
    background-color: #9e9e9e;
}